$theme-colors: (
    main: white,
    secondary: rgb(34, 71, 34),
    secondary-dimmed: #799283,
    highlighted: #db4545,
    dimmed: gray,
    dimmed-light: rgb(250, 250, 250),
    dimmed-medium: rgb(246, 243, 243),
    transparent: #ffffff00,
);

@mixin apply-color($property, $color-key) {
    #{$property}: map-get($theme-colors, $color-key);
}

.color {
    @each $key, $value in $theme-colors {
        &-#{$key} {
            @include apply-color(color, $key);
        }
    }
}

.bg {
    @each $key, $value in $theme-colors {
        &-#{$key} {
            @include apply-color(background-color, $key);
        }
    }
}
